

<div style="border:solid;text-align:center;border-radius:25px;">
<div> <span>Name :</span> <%=@linetracker.name %></div><br>
    <div><span>Country: </span><%=@linetracker.country %></div><br>
    <div><span>Currency: </span><%=@linetracker.currency %></div><br>
    <div><span>Amount: </span><%=@linetracker.amount %></div><br>
    <div><span>Date:  </span><%=@linetracker.date %></div><br>
    <div><span>Time:  </span><%=@linetracker.time %></div><br>
    <div><span>Notes: </span><%=@linetracker.notes %></div>


</div>

<form action ="/linetrackers/<%= @linetracker.id %>" method ="POST">

  <input type ="hidden" name="_method" value="delete">
  <button style="margin-bottom:1%;margin-right:85%;color:orange;border-radius:25px; background-color:#02001c;" type="submit"> delete <%=@linetracker.name%> </button>

</form>